
<div class="navbar">
    <a href="#">Home</a>
    <a href="#/login">Logout</a>
  </div>
<h1>Home</h1>
<p>ATM locator</p>
<input type="text" ng-model="busqueda"/> 
<input type="button" value="Get ATM" ng-click="GetATM()" />
<br/>Advanced options: <input type="checkbox" ng-model="checked" ng-click="advanced()" aria-label="Toggle ngShow"><br />
<div class="check-element animate-show-hide"ng-model="checkelement" ng-show="checked">
    <table>
        <tr>
            <td><input type="checkbox" ng-model="checkboxModel.street"></td><td>Street</td><td>&nbsp&nbsp</td>
            <td><input type="checkbox" ng-model="checkboxModel.housenumber"></td><td>Number</td><td>&nbsp&nbsp</td>
            <td><input type="checkbox" ng-model="checkboxModel.postalcode"></td><td>Zip</td><td>&nbsp&nbsp</td>
            <td><input type="checkbox" ng-model="checkboxModel.city"></td><td>City</td><td>&nbsp&nbsp</td>
        </tr><tr>
            <td><input type="checkbox" ng-model="checkboxModel.lat"></td><td>Lat</td><td>&nbsp&nbsp</td>
            <td><input type="checkbox" ng-model="checkboxModel.lng"></td><td>Long</td><td>&nbsp&nbsp</td>
            <td><input type="checkbox" ng-model="checkboxModel.distance"></td><td>Distance</td><td>&nbsp&nbsp</td>
            <td><input type="checkbox" ng-model="checkboxModel.type"></td><td>Type</td><td>&nbsp&nbsp</td>
        </tr>
    </table>
</div>
<div >
    <hr />
    <table class="blueTable">
        <thead>
            <tr>
                <th>Street</th>
                <th>Number</th>
                <th>Zip</th>
                <th>City</th>
                <th>Lat</th>
                <th>Long</th>
                <th>Distance</th>
                <th>Type</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <td colspan="8">
            <div class="links"></div>
            </td>
            </tr>
        </tfoot>
        <tbody ng-repeat="m in atms">
            <tr>
                <td>{{m.address.street}}</td>
                <td>{{m.address.housenumber}}</td>
                <td>{{m.address.postalcode}}</td>
                <td>{{m.address.city}}</td>
                <td>{{m.address.geoLocation.lat}}</td>
                <td>{{m.address.geoLocation.lng}}</td>
                <td>{{m.distance}}</td>
                <td>{{m.type}}</td>
            </tr>
        </tbody>
    </table>
</div>